:root {
    --pokemon_small_width: 150px;
    --pokemon_small_height: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
}

.pokemon_smallcard {
    width: var(--pokemon_small_width);
    height: var(--pokemon_small_height);
    border: 1px solid var(--main_border_color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--main_anim_delay) ease-in-out;
}

.pokemon_smallcard:hover {
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.pokemon_innercard {
    --card_padding: 5px;
    --card_delta: calc(var(--card_padding) * 2);
    --card_height: calc(var(--pokemon_small_height) - var(--card_delta));
    --card_width: calc(var(--pokemon_small_width) - var(--card_delta));

    width: var(--card_width);
    height: var(--card_height);
    padding: var(--card_padding);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.pokemon_image {
    width: 60%;
    margin: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--main_border_color);
}

.pokemon_name {
    text-align: center;
}

.pokemon_types>span {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--main_border_color);
}